.title_user {
    padding-bottom: 10px;

    .content_tittle_user {
        color      : #888;
        font-weight: 600;
    }
}

.nav_user {
    display        : flex;
    align-items    : center;
    justify-content: space-between;
    padding-bottom : 10px;

    .btn_add_user {
        color           : #fff !important;
        background-color: #1976d2;
    }

    :hover {
        color: #1976d2 !important;
    }

    .add_user_icon {
        width       : 20px;
        height      : 20px;
        font-size   : 16px;
        margin-right: 10px;

    }

    .search {
        border         : 2px solid #e8e8e8;
        border-radius  : 20px;
        height         : 40px;
        padding        : 0 16px 0 8px;
        width          : 250px;
        align-items    : center;
        display        : flex;
        justify-content: center;

        .search_icon {
            width      : 30px;
            height     : 32px;
            opacity    : .7;
            padding-top: 6px;
        }

        .search_input {
            border        : none;
            // caret-color: #444;
            height        : 100%;
            outline       : none;
            padding       : 0 4px;
        }
    }
}


//FORM
